.vscode/

cache/

catboost_info/

logs/

exoplanet_detection_using_lightcurve.ipynb
process_quarter's_scripts_and_download_lightcurves.ipynb

data/lightcurves/
data/quarters/
data/kepid_list.txt
data/kepids_with_quarters.txt
data/ordered_kepids.txt
data/unique_kepids.txt
data/*.sh
